<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Baromètre AFUP{% endblock %}</title>
        <link rel='stylesheet' href='{{ compiled_css_file }}' type='text/css' />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
          <div id="title">Baromètre <img src="/logos/logo-afup.png" id="logo-afup" /><img src="/logos/logo-agencee.png" id="logo-agencee" /></div>
          <div id="filters">
              {{ render(controller('AfupBarometreBundle:Form:index')) }}
          </div>
          <div id="filters-footer"></div>
        </div>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                {{ knp_menu_render('menu') }}
            </div>

            <div id="page-content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ compiled_js_file }}"></script>
        {% endblock %}
    </body>
</html>
