<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Baromètre AFUP{% endblock %}</title>
        {% block stylesheets %}
         {% stylesheets
            '@AfupBarometreBundle/Resources/assets/css/vendor/bootstrap.css'
            '@AfupBarometreBundle/Resources/assets/css/vendor/select2.css'
            '@AfupBarometreBundle/Resources/assets/css/vendor/select2-bootstrap.css'
            '@AfupBarometreBundle/Resources/assets/css/main.css'
         %}
            <link href="{{ asset_url }}" rel="stylesheet" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

      <div id="wrapper">

         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="#">Baromètre AFUP</a></li>
                  <li><a href="{{ path('afup_barometre_report_company_type') }}">Voir par type d'entreprise</a></li>
                  <li><a href="{{ path('afup_barometre_report_company_size') }}">Voir par taille d'entreprise</a></li>
              </ul>
          </div>

          <div id="page-content-wrapper">
           {% block body %}{% endblock %}
          </div>

        </div>

        {% block javascripts %}
         {% javascripts 
            '@AfupBarometreBundle/Resources/assets/js/vendor/jquery-1.11.0.js'
            '@AfupBarometreBundle/Resources/assets/js/vendor/select2.js'
            '@AfupBarometreBundle/Resources/assets/js/main.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </body>
</html>
