<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Baromètre AFUP{% endblock %}</title>
        <link rel='stylesheet' href='{{ compiled_css_file }}' type='text/css' />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="wrapper">

         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="#">Baromètre AFUP</a></li>
                  <li><a href="{{ context_path('afup_barometre_report_company_type') }}">Voir par type d'entreprise</a></li>
                  <li><a href="{{ context_path('afup_barometre_report_company_size') }}">Voir par taille d'entreprise</a></li>
                  <li><a href="{{ context_path('afup_barometre_report_salary') }}">Voir par salaire</a></li>
            </ul>
          </div>

          <div id="page-content-wrapper">
           {% block body %}{% endblock %}
          </div>

        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ compiled_js_file }}"></script>
        {% endblock %}
    </body>
</html>
