{% extends "layout.html.twig" %}

{% block title %}Résultats de la campagne 2018{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="Baromètre des salaires du PHP - Résultats 2018" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ absolute_url('/report/2018') }}" />
    <meta property="og:description" content="Les résultats du baromètre des salaires en PHP 2018 sont disponibles. Consultez les résultats de l’enquête de référence pour le milieu PHP menée par l’AFUP et le JDN" />
    <meta property="og:site_name" content="Baromètre des salaires - AFUP / JDN" />
{% endblock %}


{% block content %}
    <div class="row report2015">
        <div class="col-md-8">
        <h1>Résultats de la campagne 2018</h1>

        <h2>Introduction</h2>
            <p>Comme tous les ans, l’AFUP a effectué en 2018 son enquête sur l’état du monde du travail pour les développeurs et développeuses PHP. Nous vous dévoilons ici notre analyse de cette enquête. Vous pouvez par vous-même consulter les différents résultats détaillés sur les différents écrans du baromètre.</p>

        <h2>Utilisation</h2>
            <p>Le baromètre est tout d'abord conçu pour être utilisé par le/la salarié(e) ou l'indépendant(e), afin qu'il puisse se positionner correctement sur le marché du travail. Par exemple, un développeur ou une développeuse avec moins de 2 ans d'expérience sur Paris en emploi salarié, pourra très facilement évaluer sa situation grâce aux réponses des autres répondants. Cela permettra de chercher la spécialité la plus avantageuse, ou bien quel type d'entreprises embauche le plus.</p>

            <p>Ainsi si il ou elle souhaite travailler hors Île-de-France et dans une startup, il est possible de :</p>
            <ul>
                <li>Visualiser géographiquement où sont situées les entreprises des répondants,</li>
                <li>Observer la rémunération en fonction de l'expérience,</li>
                <li>Choisir une spécialité adaptée.</li>
            </ul>

            <p>Les dirigeantes et dirigeants d'entreprises pourront y trouver un outil précieux pour gérer la carrière de leurs collaborateurs, comme l'évolution de leur rémunération. Ils pourront aussi faire une recherche géographique afin d'approfondir les écarts entre départements sur une spécialité précise.</p>

            <p>Les données présentées sont utilisables sous licence Creative Commons BY-NC-ND. Afin de garantir la confidentialité des répondantes et répondants, le détail des réponses n'est pas affiché si celles-ci sont trop peu nombreuses.</p>

        <h2>Profil</h2>
            <p>D'après les résultats du baromètre nous pouvons établir un profil type du répondant. Le répondant :</p>
            <ul>
                <li>Est en CDI (à 92%)</li>
                <li>Travaille dans des zones à forte densité démographique : l'Île-de-France et la région Auvergne-Rhône-Alpes sont les lieux où nous recevons le plus de réponses,</li>
                <li>A majoritairement entre 6 et 10 ans d'expérience (pour 40% des répondants),</li>
                <li>Est un homme (à 93%)</li>
                <li>A plutôt tendance à travailler dans des PME (56% des répondants travaillent dans des entreprises de moins de 10 à 200 salariés).</li>
            </ul>

            <p>Ces éléments ne changent pas ou très peu par rapport aux années précédentes.</p>

        <h2>Des salaires en stagnation</h2>
            <p>L’année dernière nous avions noté une nette augmentation des salaires des postes de développeurs et développeuses, toux niveaux de salaires confondus. Cette année, si la majorité des niveaux de salaires sont globalement en stagnation, les salaires les plus hauts connaissent cependant une augmentation significative.</p>

            <a href="{{ absolute_url('/report/salary?filter[campaign][0]=6&filter[job_title][0]=8') }}">
                <img src="{{ asset('reports/2018/evolution_des_salaires.png') }}" />
            </a>

        <h2>Symfony toujours framework leader en France</h2>
            <p>Dans les spécialités évoquées, <a href="{{ absolute_url('/report/speciality?filter[campaign][0]=5') }}">l’année dernière</a> 53% des répondants indiquaient Symfony en spécialité. Cette place de leader est à nouveau confirmée <a href="{{ absolute_url('/report/speciality?filter[campaign][0]=6') }}">cette année</a>, avec 59% des répondantes et répondants qui indiquent symfony en spécialité. Wordpress, Zend Framework et les frameworks propriétaires, ne représentent respectivement qu’environ 7% des spécialités citées, ce qui confirme la position de leader incontesté de Symfony en France.</p>

            <a href="{{ absolute_url('/report/speciality?filter[campaign][0]=6') }}">
                <img src="{{ asset('reports/2018/distribution_specialite.png') }}" />
            </a>

        <h2>Une tendance à l’augmentation du télétravail</h2>
            <p>Nous notons une tendance à l’augmentation de l’usage du télétravail. En effet en 2018, seulement 42% des répondants ne font jamais de télétravail, alors qu'ils étaient 53% en 2017 et 60% en 2016.</p>
            <a href="{{ absolute_url('/report/remote_usage?filter[campaign][0]=6') }}">
                <img src="{{ asset('reports/2018/evolution_teletravail.png') }}" />
            </a>

        <h2>Niveau de satisfaction des salaires</h2>
            <p>Lors de l’enquête nous demandons aux répondants et répondantes s’ils sont satisfaits ou satisfaites de leur salaire, ainsi que leur salaire : ces deux informations nous permettent de conduire une étude sur la satisfaction en fonction du salaire. Ainsi nous pouvons conclure, que selon les réponses reçues, il faut atteindre les 40 000€ de salaire pour ne plus avoir de personnes très insatisfaites de leur salaire, et 50k pour ne plus avoir de personnes insatisfaites. Comme on peux le voir dans un <a href="https://www.journaldunet.fr/patrimoine/guide-des-finances-personnelles/1166094-salaire-moyen/">article du JDN</a>, selon l’INSEE, le salaire moyen en France est de 26 327 €.</p>

            <a href="{{ absolute_url('/report/salary?filter[campaign][0]=6&filter[salary_satisfaction][0]=5') }}">
                <img src="{{ asset('reports/2018/satisfaction_salaire.png') }}" />
            </a>

        <h2>Une tendance vers plus d’utilisation de Linux</h2>

        <p>Nous constatons une plus grande proportion de l’utilisation de Linux : en 2016 il était utilisé par 46% des répondantes et répondants, après un passage à 48% en 2017, ce système d’exploitation représente maintenant 53% des réponses.</p>
        <a href="{{ absolute_url('/report/os_developpment?filter[campaign][0]=6') }}">
            <img src="{{ asset('reports/2018/os_developpment.png') }}" />
        </a>


        <h2>Salaire moyen par genre</h2>

        <p>Cette année, nous avons plus de réponses de femmes, elles étaient 5% à répondre l’année dernière, pour 7% en 2018. C’est une tendance qui se confirme depuis 2014.</p>
        <a href="{{ absolute_url('/report/gender?filter[campaign][0]=6') }}">
            <img src="{{ asset('reports/2018/evolution_salaire_par_sexe.png') }}" />
        </a>

        <p>Bien qu’il y ait de légères améliorations au niveau de la participation au baromètre des femmes, nous constatons toujours des inégalités.<br />
        À poste équivalent, les salaires des femmes sont inférieurs à ceux des hommes : 37 827€ en moyenne pour les femmes aux postes de développeuses et 40 449€ pour les postes de développeurs.<br/>
        On note une tendance à la diminution de l’écart : en 2017 l’écart pour les postes de développeurs et développeurs en CDI était de 9,6%, il est en 2018 à 5,3%  (à noter, qu’en raison du faible nombre de réponses féminines, c’est un chiffre à prendre avec prudence et à confirmer sur les prochaines éditions).
        </p>


        <h2>Participation aux formations</h2>

        <p>L’année 2018 fut une bonne année pour les formations, en effet : 27% de répondantes et répondants indiquent avoir participé à une formation pour 20% l’année dernière.</p>
        <a href="{{ absolute_url('/report/training_participation?filter[campaign][0]=6') }}">
            <img src="{{ asset('reports/2018/evolution_participation_formation.png') }}" />
        </a>

        <h2>Versions de PHP utilisées</h2>

            <p>PHP 7 est désormais majoritairement utilisé par les développeurs et développeuses avec plus de 80 % de réponses. Cela est une bonne chose, la branche 5 <a href="http://php.net/supported-versions.php">n’étant plus supportée</a> depuis le 1er janvier 2019.</p>
        <a href="{{ absolute_url('/report/php_version?filter[campaign][0]=6') }}">
            <img src="{{ asset('reports/2018/evolution_php_versions.png') }}" />
        </a>

        <h2>Qui sommes nous ?</h2>

            <p>Le <a href="https://www.journaldunet.com">JDN</a> et l'<a href="http://www.afup.org">association française des utilisateurs de PHP</a> (AFUP) vous présentent pour la sixième année consécutive le baromètre AFUP – JDN 2018 : les salaires des développeuses et développeurs en France.</p>

            <p>Comme chaque année, le baromètre AFUP – JDN répond aux questions que tout le monde se pose :</p>
            <ul>
                <li>Combien gagne un développeur débutant ?</li>
                <li>Comment les salaires évoluent-ils avec l’expérience ?</li>
                <li>Quelles sont les technos qui rapportent le plus ?</li>
                <li>Dans quelles villes peut-on avoir les meilleurs salaires ?</li>
            </ul>

            <p>Nous espérons que vous aurez une vision claire du marché après consultation de ce baromètre AFUP – JDN.</p>

            <h3>JDN</h3>

            <p>Avec plus de 3,1 millions de visiteurs uniques par mois, le <a href="https://www.journaldunet.com">JDN</a> est la source d'information des dirigeants et cadres qui osent. Digital, management, nouvelles technologies : le JDN propose à la fois une veille exhaustive de l'actualité et des dossiers prospectifs pour mieux comprendre l’économie de demain. Le JDN propose 4 newsletters thématiques envoyées à plus de 500 000 abonnés.</p>

            <h3>Le rapport 2018</h3>
                <p>Le baromètre se base sur une enquête en ligne ouverte à toutes et à tous et dont les réponses ont été collectées sur la période du 17 septembre 2018 au 17 décembre 2018. Durant cette période, 880 réponses ont été fournies aux questions proposées.</p>

                <p>L'AFUP tient chaleureusement à remercier toutes les personnes ayant répondu à l'enquête 2018 !</p>
        </div>

        <div class="col-md-4">
            <h1>Résultats détaillés</h1>

            <div class="well">
                {% block menu_reports knp_menu_render('reports_menu', {}, 'reports') %}
            </div>
        </div>

    </div>
{% endblock %}
