{% extends "layout.html.twig" %}

{% block title %}Résultats de la campagne {{ campaignName }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="Baromètre des salaires du PHP - Résultats {{ campaignName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ absolute_url('/report/'~campaignName) }}" />
    <meta property="og:description" content="Les résultats du baromètre des salaires en PHP {{ campaignName }} sont disponibles. Consultez les résultats de l’enquête de référence pour le milieu PHP menée par l’AFUP et le JDN" />
    <meta property="og:site_name" content="Baromètre des salaires - AFUP / JDN" />
{% endblock %}


{% block content %}
    <div class="row report2015">
        <div class="col-md-8">
        <h1>Résultats de la campagne {{ campaignName }}</h1>

        <h2>Introduction</h2>
            <p>Comme chaque année, l’AFUP, en partenariat avec le Journal du Net, a effectué une enquête auprès des développeurs et développeuses PHP. En 2021, cette enquête a eu lieu du 17 septembre au 17 décembre.</p>
            <p>Vous êtes 774 à avoir répondu. Merci ! Votre participation permet d’obtenir des chiffres affinés et une étude pertinente.</p>

        <h2>Utilisation</h2>
            <p>Le baromètre est tout d'abord conçu pour être utilisé par le/la salarié(e) ou l'indépendant(e), afin qu'il puisse se positionner correctement sur le marché du travail. Par exemple, un développeur ou une développeuse avec moins de 2 ans d'expérience sur Paris en emploi salarié, pourra très facilement évaluer sa situation grâce aux réponses des autres répondants. Cela permettra de chercher la spécialité la plus avantageuse, ou bien quel type d'entreprises embauche le plus.</p>

            <p>Ainsi s'il ou elle souhaite travailler hors Île-de-France et dans une startup, il est possible de :</p>
            <ul>
                <li>Visualiser géographiquement où sont situées les entreprises des répondants,</li>
                <li>Observer la rémunération en fonction de l'expérience,</li>
                <li>Choisir une spécialité adaptée.</li>
            </ul>

            <p>Les dirigeantes et dirigeants d'entreprises pourront y trouver un outil précieux pour gérer la carrière de leurs collaborateurs, comme l'évolution de leur rémunération. Ils pourront aussi faire une recherche géographique afin d'approfondir les écarts entre départements sur une spécialité précise.</p>

            <p>Les données présentées sont utilisables sous licence Creative Commons BY-NC-ND. Afin de garantir la confidentialité des répondantes et répondants, le détail des réponses n'est pas affiché si celles-ci sont trop peu nombreuses.</p>

        <h2>Focus sur le salaire</h2>
        <p>Commençons donc par la base de l’enquête : le salaire des développeuses et développeurs.</p>
        <p>Nous pouvons noter plusieurs choses :</p>
        <ul>
            <li>
                Au global pour les postes de développeuses/développeurs et lead developpeuses/développeurs (hors freelances) sur tout le pays, les salaires continue d'augmenter depuis quelques années. Le salaire médian passe de 39500€ à 41000€, mais la moyenne, elle baisse légèrement en passant de 45200€ à 44300€. Depuis 2019, nous constatons une augmentation du salaire médian de 11%<br/>
                <a href="{{ absolute_url('/report/salary?filter[campaign][]='~campaignId~'&filter[job_title][]=4&filter[job_title][]=8&filter[status][]=1&filter[status][]=2&filter[status][]=4&filter[status][]=0') }}" class="report-image">
                    <img src="{{ asset('reports/2021/evolution_des_salaires.png') }}" alt="Distribution des salaires" />
                </a><br/>
            </li>
            <li>
                Les salaires pour les profils expérimentés sont également en hausse : le salaire médian pour les personnes ayant plus de 5 ans d’expérience a augmenté de 2500€, contre 1600€ pour les profils moins expérimentés.<br/>
                <a href="{{ absolute_url('/report/salary?filter[campaign][]='~campaignId~'&filter[job_title][]=4&filter[job_title][]=8&filter[experience][]=3&filter[experience][]=4&filter[status][]=1&filter[status][]=2&filter[status][]=4&filter[status][]=0') }}" class="report-image">
                    <img src="{{ asset('reports/2021/evolution_des_salaires_plus_experimentes.png') }}" alt="Augmentation des salaires sur les profils les plus expérimentés" />
                </a><br/>
            </li>
            <li>
                Nous constatons bien cette valorisation de l’expérience, sur le graphique ci-dessous qui montre la progression du salaire en fonction de l’expérience.<br/>
                <a href="{{ absolute_url('/report/experience_salary?filter[campaign][]='~campaignId~'&filter[job_title][]=4&filter[job_title][]=8&filter[status][]=1&filter[status][]=2&filter[status][]=4&filter[status][]=0') }}" class="report-image">
                    <img src="{{ asset('reports/2021/salaire_par_experience.png') }}" alt="Progression des salaires en fonction de l'expérience" />
                </a><br/>
            </li>
        </ul>

        <h2>Profil des personnes ayant répondu</h2>
            <p>Les répondants sont :</p>
            <ul>
                <li>en majorité des hommes : 93,4% d’hommes, 5,7% de femmes et 0.9% de personnes non-binaires,</li>
                <li>en CDI : le contrat le plus utilisé, avec 94% des personnes ayant un contrat (4% de freelance),</li>
                <li>dans une zone géographique à forte densité : l’Ile de France et Auvergne-Rhône-Alpes représentent la majorité des réponses (49.8% des réponses),</li>
                <li>en majorité dans une PME (pour 75%),</li>
                <li>en majorité des spécialistes Symfony (pour 80%), suivi par Laravel (10%).</li>
            </ul>

            <p>Ces points ne changent pas ou peu par rapport aux années précédentes.</p>

        <h2>Le télétravail</h2>
            <p>En cette seconde année de pandémie, un fort pourcentage de répondant·e·s font maintenant du télétravail. Le pourcentage de répondant·e·s indiquant ne jamais faire de télétravail représente actuellement 5% des répondants.</p>

            <p>On peut donc voir sur ce graphique que sur les 2 dernières années le télétravail s’est grandement généralisé pour atteindre 74% des personnes interrogées qui le pratiquent au moins régulièrement (contre 18% en 2019).</p>
            <a href="{{ absolute_url('/report/remote_usage?filter[campaign][0]='~campaignId) }}" class="report-image">
                <img src="{{ asset('reports/2021/evolution_teletravail.png') }}" alt="Évolution du télétravail"/>
            </a>

            <p>Après une année 2020 avec du télétravail obligatoire et une année 2021 un peu plus souple, nous avons voulu connaitre votre rythme idéal de télétravail.</p>

            <a href="{{ absolute_url('/report/remote_usage?filter[campaign][0]='~campaignId) }}" class="report-image">
                <img src="{{ asset('reports/2021/rythme_teletravail.png') }}" alt="Rythme idéal du télétravail" />
            </a>

            <p>La majorité d’entre vous pense donc qu’il est idéal de pratiquer 3 jours de télétravail par semaine.</p>

        <h2>Versions de PHP</h2>
            <p>Comme chaque année, notre communauté suit bien les mises à jour du langage, la version 7.4 représentant pratiquement 45% des réponses. La version 5 de PHP reste utilisée par 5% des personnes ayant répondu, contre 9% en 2019, alors que cette version n’est plus supportée depuis janvier 2019.</p>
            <a href="{{ absolute_url('/report/php_version?filter[campaign][0]='~campaignId) }}" class="report-image">
                <img src="{{ asset('reports/2021/evolution_php_versions.png') }}" alt="Versions de PHP utilisées" />
            </a>

        <h2>Nouveauté: Aspects les plus importants dans votre emploi actuel</h2>

            <p>Une nouveauté de cette année, la possibilité de nous indiquer les aspects les plus importants de votre emploi actuel.</p>
            <p>Pour 75% de nos répondants il s'agit de l'aspect technique, suivi de près par l'ambiance.</p>
            <p>Le domaine métier lui ne représente que 27%</p>

            <img src="{{ asset('reports/2021/interet.png') }}" alt="Reconversion professionnelle" />

        <h2>Covid-19</h2>

            <p>En 2020 et 2021, nous avons souhaité comprendre comment la situation sanitaire impacte notre milieu professionnel.</p>
            <p>Voici nos premières conclusions.</p>

            <p>La participation aux meetups, déjà en baisse en 2020, continue sa chute sur 2021 : 68% des personnes ayant répondu à notre enquête n’ont pas participé à des meetups durant l’année écoulée contre 50% l’année précédente (et 40% en 2019). Et seuls 3% des répondants/répondantes ont participé à au moins 1 meetup par mois en 2021 (contre 13% en 2019).</p>

            <a href="{{ absolute_url('/report/meetup_participation?filter[campaign][0]='~campaignId) }}" class="report-image">
                <img src="{{ asset('reports/2021/evolution_participations_meetup.png') }}" alt="Évolution de la participation aux meetups" />
            </a>

            <p>Dans l’ensemble vous avez trouvé que votre entreprise a bien su gérer cette crise (75% ont répondu bien ou très bien, 18,3% ne se prononce pas).</p>

            <p>En temps de pandémie, il est parfois difficile de penser au futur ou de réfléchir à un changement de poste : 32.5% de nos répondants ont dû modifier leur projet de changement d’emploi (20.1% ont accéléré leur projet et 12.4% l'ont retardé).</p>

            <p>19.7% de nos répondants/répondantes pensent que cette situation va avoir un impact négatif sur leur progression salariale. Nous retrouverons peut-être cet impact lors de notre prochaine campagne.</p>

        <h2>Qui sommes-nous ?</h2>

            <p>Le <a href="https://www.journaldunet.com" title="Journal du Net">Journal du Net</a> (JDN) et l'<a href="http://www.afup.org" title="Association Française des Utilisateurs de PHP">association française des utilisateurs de PHP</a> (AFUP) vous présentent pour la neuvième année consécutive le baromètre des salaires AFUP – JDN 2021 </p>

            <p>Comme chaque année, le baromètre AFUP – JDN répond aux questions que se posent les professionnel·le·s de notre secteur :</p>
            <ul>
                <li>Combien gagne un·e développeur·euse débutant·e ?</li>
                <li>Comment les salaires évoluent-ils avec l’expérience ?</li>
                <li>Quelles sont les technos qui rapportent le plus ?</li>
                <li>Dans quelles villes touche-t-on les meilleurs salaires ?</li>
            </ul>

            <p>Nous espérons que vous aurez une vision claire du marché après consultation de ce baromètre des salaires en PHP AFUP – JDN 2021.</p>

            <h3>JDN</h3>
            <p>Avec plus de 3,1 millions de visiteurs uniques par mois, le <a href="https://www.journaldunet.com" title="Journal du Net">JDN</a> est la source d'information des dirigeants et cadres qui osent. Digital, management, nouvelles technologies : le JDN propose à la fois une veille exhaustive de l'actualité et des dossiers prospectifs pour mieux comprendre l’économie de demain. Le JDN propose 4 newsletters thématiques envoyées à plus de 500 000 abonnés.</p>

            <h3>AFUP</h3>
            <p>L'<a href="http://www.afup.org" title="Association Française des Utilisateurs de PHP">AFUP</a>, Association Française des Utilisateurs de PHP, est une association loi 1901, qui a pour objectif principal de promouvoir le langage PHP auprès des professionnel·le·s et de participer à son développement. Elle organise ainsi de nombreux événements tout au long de l’année, elle diffuse et partage les connaissances auprès des utilisateurs et utilisatrices de PHP, et participe à la valorisation des développeurs et développeuses PHP sur le marché du travail.</p>

        </div>

        <div class="col-md-4">
            <h1>Résultats détaillés</h1>

            <div class="well">
                {% block menu_reports knp_menu_render('reports_menu', {}, 'reports') %}
            </div>
        </div>

    </div>
{% endblock %}
