{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}A propos du  Baromètre AFUP{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>A propos du  Baromètre</h1>

            <h2>L'enquête 2018 est en cours</h2>

            <p>L'<a href="http://www.afup.org">AFUP</a> est heureuse d'annoncer un partenariat avec <a href="https://www.journaldunet.com/">le JDN</a></p>

            <p><strong><a href="{{ url('afup_barometre_form') }}">L'enquête 2018 est en cours !</a></strong></p>


            <h2>Genèse du baromètre</h2>
            <p>
                Depuis le forum PHP 2013 l’<a href="http://www.afup.org">Association Française des Utilisateurs de PHP (AFUP)</a> et le cabinet de recrutement spécialisé Agence-e publient les résultats d'une enquête auprès des développeurs PHP : <a href="{{ asset('pdf/Barometre-AFUP-Agence-e-2014.pdf') }}">le baromètre AFUP – Agence-e 2014</a> (données collectées en 2013) et <a href="{{ asset('pdf/Barometre-AFUP-Agence-e-2015.pdf') }}">le baromètre AFUP - Agence-e 2015</a> (données collectées en 2014), présentant la rémunération des développeurs PHP ainsi que l’écosystème PHP en France.
            </p>
            <p>
                Ce site a pour vocation de présenter <a href="{{ path('afup_barometre_report', {'reportName': 'salary'}) }}">les résultats de cette enquête</a> en permettant de filtrer sur différents critères (le département, la rémunération, le type d'entreprise...) pour ainsi présenter des résultats plus en accord avec la situation du développeur les consultant.
            </p><p>
                Le site présente des données collectées en
                {% for campaign in campaigns %}
                    {% spaceless %}
                        <a href="{{ path('afup_barometre_report', {'reportName': 'salary', 'filter': { 'campaign': [campaign.id] } }) }}">{{- campaign.name -}}</a>
                        {%- if loop.revindex0 == 1 %} et {% elseif not loop.last %}, {% endif -%}
                    {% endspaceless %}
                {%- endfor -%}
                .
            </p><p>
                Il sera enrichi d'années en années avec les résultats des prochain baromètres.
            </p>

            <h2>Contributeurs</h2>

            <p>Les contributeurs sont listés sur <a href="https://github.com/afup/barometre/graphs/contributors">la page github du projet</a>.</p>
        </div>

        <div class="col-md-4">
            <h1>Résultats détaillés</h1>

            <div class="well">
                {% block menu_reports knp_menu_render('reports_menu', {}, 'reports') %}
            </div>
        </div>

    </div>

{% endblock %}
