{% form_theme form "AfupBarometreBundle:Filters:theme.html.twig" %}

{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        {% for child in [form.company_size, form.company_type, form.departement] %}
            <div class="col-md-4">
                {{ form_row(child) }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for child in [form.php_version, form.specialities, form.certifications] %}
            <div class="col-md-4">
                {{ form_row(child) }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.salary) }}
        </div>
        <div class="col-md-offset-4 col-md-4">
            {{ form_row(form.submit, {attr: {class: 'mg-top'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}

{{ form_end(form) }}
