{{ form_start(form) }}
  {{ form_errors(form) }}

  {% for child in form %}
{% if (loop.index0) is divisible by(3) %}
<div class="row">
{% endif %}

      <div class="filter-row col-md-4">
        <div class="filter-label">
          {{ form_label(child) }}
        </div>
        <div class="filter-content" style="text-align:center">
          {{ form_widget(child) }}
        </div>
      </div>


{% if (loop.index ) is divisible by(3) %}
</div>
{% endif %}
  {% endfor %}
</div>


{{ form_end(form) }}
