{% extends "base.html.twig" %}

{% block body %}

    {% block header %}
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}
                    <a class="navbar-brand hidden-xs" href="{{ path('afup_barometre_homepage') }}">Baromètre des salaires du PHP</a>
                    <a class="navbar-brand visible-xs" href="{{ path('afup_barometre_homepage') }}">Baromètre AFUP</a>
                {% endblock %}
            </div>

            <div class="navbar-collapse bs-navbar-collapse collapse" id="navbar-collapse">
                <div class="hidden-xs">
                    {% block menu knp_menu_render('complete_menu') %}
                </div>
                <div class="visible-xs">
                    {% block menu2 knp_menu_render('menu') %}
                </div>

                <div class="navbar-right hidden-xs">
                    <a href="http://www.afup.org" target="_blank">
                        <img src="{{ grunt_asset('logos/logo-afup.png') }}" alt="AFUP" class="logo afup" />
                    </a>
                    <a href="http://www.humancoders.com/" target="_blank">
                        <img src="{{ grunt_asset('logos/logo-humancoders.png') }}" alt="Human Coders" class="logo humancoders mr-right" />
                    </a>
                </div>
            </div>

        </div>
    </header>
    {% endblock header %}

    {% block main %}
    <div class="container-fluid main">
        <section class="content">
            {% block content '' %}
        </section>
    </div>
    {% endblock main %}

    {% block footer %}
    <footer class="page-footer">
        <div class="content">
            <p>Baromètre <a href="http://www.afup.org" target="_blank">AFUP</a> et <a href="http://www.humancoders.com" target="_blank"> Human Coders</a> 2015</p>
        </div>
    </footer>
    {% endblock footer %}

{% endblock body %}

{% block ga %}
    {{ include('AfupBarometreBundle:Default:ga.html.twig') }}
{% endblock %}
