<table class="highchart abstract-distribution-evolution"
       data-graph-container-before="1"
       data-graph-type="column"
       style="display:none"
       data-graph-datalabels-enabled="1"
       data-graph-datalabels-color="white"
       data-graph-stacking="percent"
>
    <thead>
    <tr>
        <th>{{ title }}</th>
        {% for data in results.columns %}
            <th data-graph-stack-group="1"
                data-graph-color="{{ color[data] }}"
            >{{ data|enum_label(fieldName) }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for year,yearResults in results.data %}
        <tr>
            <td>{{ year }}</td>
            {% for row in yearResults %}
                <td class="text-right">{{ row }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
