{% include "AfupBarometreBundle:Report:_geo_reports_menu.html.twig"  with { "selected": "county" } only %}

<div id="map">
    <svg viewBox="0 0 500 500"></svg>
</div>

<table id="map-table" class="table table-striped tablesorter" data-map-type="region">
    <thead>
        <tr>
            <th>{{ "report.view.county_code" | trans }}</th>
            <th>{{ "report.view.county_label" | trans }}</th>
            <th>{{ "report.view.response_number" | trans }}</th>
            <th>{{ "report.view.response_percent" | trans }}</th>
            <th>{{ "report.view.annual_salary" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>{{ row.companyDepartment }}</td>
                <td>{{ row.companyDepartment|county_label }}</td>
                <td>{{ row.nbResponse }}</td>
                <td>{{ row.percentResponse|round(2) }}</td>
                <td class="text-right">{{ row.annualSalary|round(-2)|number_format_decimal }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
