<table class="table table-striped highchart"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1">
    <thead>
    <tr>
        <th>{{ "report.view.remote_usage" | trans }}</th>
        <th>{{ "report.view.response_number" | trans }}</th>
        <th>{{ "report.view.response_percent" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{ row.remoteUsage|enum_label('remote_usage') }}</td>
            <td class="text-right">{{ row.nbResponse }}</td>
            <td>{{ row.percentResponse|round(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
