<table class="highchart highchart-align-xaxis-left-labels table table-striped tablesorter"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1"
       data-graph-inverted="1"
       data-graph-xaxis-labels-align="right">
    <thead>
        <tr>
            <th>{{ "report.view.salary" | trans }}</th>
            <th>{{ "report.view.response_number" | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>
                    {{ row.salarySliceFrom|number_format }}
                    -
                    {{ row.salarySliceTo|number_format }}
                </td>
                <td class="text-right">{{ row.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
