{% set icons =  {
    "Très insatisfait": { class: 'fa fa-frown-o', size: '30px', color: "#550000"},
    "Insatisfait": { class: 'fa fa-frown-o', size: '20px', color: "#b73030"},
    "Sans opinion": { color: "#999999" },
    "Satisfait": { class: 'fa fa-smile-o', size: '20px', color: "#259433"},
    "Très satisfait": { class: 'fa fa-smile-o', size: '30px', color: "#008110"}
} %}

<table class="highchart highchart-emoticon highchart-align-xaxis-left-labels table table-striped"
       data-graph-datalabels-enabled="1"
       data-graph-container-before="1"
       data-graph-type="pie"
       data-graph-legend-disabled="1"
       data-graph-inverted="1"
       data-icons="{{ icons|json_encode }}"
       data-graph-xaxis-labels-align="right">
    <thead>
    <tr>
        <th>{{ "report.view.salary_satisfaction" | trans }}</th>
        <th>{{ "report.view.response_number" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr {% if icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].color is defined %} style="color: {{ icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].color }}"{% endif %}>
            <td>
                {% if icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].class is defined %}
                    <i class="icon {{ icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].class }}"></i>
                {% endif %}
                {{ row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums') }}
            </td>
            <td {% if row.salarySatisfaction == 3 %}data-graph-item-highlight="1"{% endif %} {% if icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].color %}data-graph-item-color="{{ icons[row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums')].color }}"{% endif %} data-graph-name='{{ row.salarySatisfaction|enum_label('App\\Enums\\SalarySatisfactionEnums') }}' class="text-right">{{ row.nbResponse }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
