{% extends '::base.html.twig' %}

{% block body %}

{{ form_start(form) }}
    {{ form_errors(form) }}
{{ form_end(form) }}

<table>
<thead>
  <tr>
    <td>Type d'entreprise</td>
    <td>Nombre de réponses</td>
  </tr>
</thead>
<tbody>
{% for row in results %}
  <tr>
    <td>{{ row.companyType }}</td>
    <td>{{ row.count }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
